<mat-sidenav-container>



  <mat-toolbar color="primary">

    <span>Zoologico Nacional de Colombia</span>

    <span class="header-icons-spacer"></span>

    <button routerLink="register" mat-icon-button class="flex justify-content-end flex-wrap card-container">
      <mat-icon>add</mat-icon>
    </button>
    <button routerLink="manager" mat-icon-button class="flex justify-content-end flex-wrap card-container">
     <mat-icon>list</mat-icon>
   </button>

  </mat-toolbar>


</mat-sidenav-container>
